@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");
.progressBars{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
  }
.progressLabel{
    margin-top:10px;
    font-size:30;
    font-family: 'Neucha', cursive;
    font-weight: bold;
}

