@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");
.cardDeck{
    width : 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    padding-top:1em;
    padding-bottom: 1em;

}
.canvas{
    margin: 0 auto !important;
    width:400px;
}
.jumbotron{
    padding-top:1em;
    padding-bottom:1em;
    margin-bottom: 0% !important;
}
.sideBar{
    color:yellow;
    width:40px;

}
.wish h2{
    font-family: 'Neucha', cursive;
    font-weight: bold;
}
h2 img{
    width:50px !important;
}
h3 img{
    width:50px !important;
}
.prize{
    width:100%
}
.addNew{
    color:#F5A9CB;
    text-align: center;
    padding-bottom: 2em;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}